<!--The whole content below can be removed with the new code.-->
  <h1 style="text-align:center">
    Welcome to {{title}}!!
  </h1>
    
  <!-- logic to show and hide the form on button click-->
  <!--<div>
    <button class="btn btn-success" (click)="showForm()">Show</button>
    <button class="btn btn-danger" (click)="hideForm()">Hide</button>
  </div>> -->
  <br>
  <div class="container" >

    <div class="row">
      <h3 style="margin-left:14px">Type a Name to add in Array</h3>
      <div class="col col-md-4">
        <input type="test" value="First Name" placeholder="Full Name" [(ngModel)]="firstName">
      </div>
    </div>  
    <br>
    <div class="row">   
      <div class="col col-md-4">
        <!--<button class="btn btn-primary" type="button" (click)="addTitle()">Add</button> -->
        <button class="btn btn-primary" type="button" (click)="addStudent()">Add</button>
      </div>
    </div>
    <br>
    <span><strong> will show in the Below textbox</strong></span>
    <br>
    <br>
    <div class="row">
      <div>
        <table class="table-bordered" style="margin-left:18px">
          <tbody>
            <!-- Using ng style to change the color of the table values -->
            <tr  *ngFor="let student of allStudents; let i=index" [ngStyle]="i%2 == 0 ? { color:'red' } : { color: 'green' }">
              <td>
                {{i+1}}
              </td>
              <td>  
                {{student}}
              </td>
          </tbody>
        </table>
      </div>
    </div>
    <!--<input type="text" [(ngModel)]="title1" *ngIf="isVisible"> -->
   
 
  </div>


